/* vv Cole Page vv */

@font-face {
    font-family: 'inkfree';
    src: url('../fonts/Inkfree.ttf') format('truetype');
    font-weight: light;
    font-style: normal;
}

.cole-font * {
    font-family: 'inkfree', sans-serif;
}

#cole-main {
    border: 4px solid #ff6969; /* 2px width, solid style, bright pink color */
    background-image: url("../images/background06.jpg"); /* Replace 'your-image.jpg' with the actual path to your image file */
    background-size: 100%;/* Stretch the image to cover the entire div */
    background-repeat: no-repeat;
    background-position: top;

    height:90vh;
    overflow:auto;
}

.cole-border {
    border: 3px solid #ff6969; /* 2px width, solid style, bright pink color */

}

.cole-text-box {
    border: 3px solid #ff6969; /* 2px width, solid style, bright pink color */
    background-color: rgba(245, 245, 245, 0.8); /* White with 50% transparency */
    padding: 1em;
}

.cole-img-box {
    border: 3px solid #ff6969; /* 2px width, solid style, bright pink color */
    background-color: rgba(245, 245, 245, 0.8); /* White with 50% transparency */
}

.cole-text-box p {
    margin:0;
    font-size: large;
}

.cole-art {
    height:95vh;
    overflow:auto;
    
    background-image: linear-gradient(90deg, rgb(226, 156, 170), rgb(154, 231, 230)); /* Pink to light blue gradient */
    background-size: 100% 20px; /* Adjust the size of the repeating pattern */
}
/* ^^ Cole Page ^^ */


/* vv Theo Page vv */
@font-face {
    font-family: 'segoesemilight';
    src: url('../fonts/SegoeUIVariableStaticTextSemilight.ttf') format('truetype');
    font-weight: light;
    font-style: normal;
}

.sun-font * {
    font-family: 'segoesemilight', sans-serif;
}

#theo-main {
    border: 4px solid #ff69b4; /* 2px width, solid style, bright pink color */
    background-image: url("../images/background12.png"); /* Replace 'your-image.jpg' with the actual path to your image file */
    background-size: 100%;/* Stretch the image to cover the entire div */
    background-repeat: no-repeat;
    background-position: center;
    padding:16px;

    height:90vh;
    overflow:auto;
}

.theo-text-box {
    border: 3px solid #ff69b4; /* 2px width, solid style, bright pink color */
    background-color: rgba(245, 245, 245, 0.8); /* White with 50% transparency */
    padding:1em;
}

.theo-text-box p {
    margin:0;
}

.theo-art {
    background-image: linear-gradient(90deg, rgb(129, 248, 157), rgb(104, 83, 238)); /* Pink to light blue gradient */
    background-size: 100% 20px; /* Adjust the size of the repeating pattern */
}
/* ^^ Theo Page ^^ */

/* vv Sun Page vv */
@font-face {
    font-family: 'footlight';
    src: url('../fonts/footlight.ttf') format('truetype');
    font-weight: light;
    font-style: normal;
}

.sun-font * {
    font-family: 'footlight', sans-serif;
}

#sun-main {
    border: 4px solid #f18b39; /* 2px width, solid style, bright pink color */
    background-image: url("../images/background08.jpg"); /* Replace 'your-image.jpg' with the actual path to your image file */
    background-size: 100%;/* Stretch the image to cover the entire div */
    background-repeat: no-repeat;
    background-position: center;
    padding:16px;

    height:90vh;
    overflow:auto;
}

.sun-text-box {
    border: 3px solid #f18b39; /* 2px width, solid style, bright pink color */
    border-radius:5px;
    background-color: rgba(245, 245, 245, 0.8); /* White with 50% transparency */
    padding:1em;
    text-align: justify;
}

.sun-text-box p {
    margin:0;
}

.sun-art {
    height:120vh;
    overflow:auto;
    

    background-image: url("../images/background09.jpg"); /* Replace 'your-image.jpg' with the actual path to your image file */
    background-size: 100%;/* Stretch the image to cover the entire div */
    background-repeat: no-repeat;
    background-position: center;
}
/* ^^ Sun Page ^^ */

/* vv Ronan Page vv */
@font-face {
    font-family: 'bodoni';
    src: url('../fonts/bodoni-mt-regular.ttf') format('truetype');
    font-weight: light;
    font-style: normal;
}

.sun-font * {
    font-family: 'bodoni', sans-serif;
}

#ronan-main {
    border: 4px solid #34abda; /* 2px width, solid style, bright pink color */
    background-image: url("../images/background07.jpg"); /* Replace 'your-image.jpg' with the actual path to your image file */
    background-size: 100%;/* Stretch the image to cover the entire div */
    background-repeat: no-repeat;
    background-position: center;
    padding:16px;

    height:90vh;
    overflow:auto;
}

.ronan-text-box {
    border: 3px solid #34abda; /* 2px width, solid style, bright pink color */
    border-radius:5px;
    background-color: rgba(245, 245, 245, 0.8); /* White with 50% transparency */
    padding:1em;
    text-align: justify;
}

.ronan-text-box p {
    margin:0;
}
/* ^^ Ronan Page ^^ */

/* vv Esme Page vv */
@font-face {
    font-family: 'bahnschrift';
    src: url('../fonts/BAHNSCHRIFT.ttf') format('truetype');
    font-weight:100;
    font-stretch: condensed;
}

.esme-font * {
    font-family: 'bahnschrift', sans-serif;
}

#esme-main {
    border: 4px solid #34abda; /* 2px width, solid style, bright pink color */
    background-image: url("../images/background07.jpg"); /* Replace 'your-image.jpg' with the actual path to your image file */
    background-size: 100%;/* Stretch the image to cover the entire div */
    background-repeat: no-repeat;
    background-position: center;
    padding:16px;

    height:83vh;
    overflow:auto;
}

.esme-text-box {
    border: 3px solid #34abda; /* 2px width, solid style, bright pink color */
    border-radius:5px;
    background-color: rgba(245, 245, 245, 0.8); /* White with 50% transparency */
    padding:1em;
    text-align: justify;
}

.esme-text-box p {
    margin:0;
    font-size: large;
}
/* ^^ Esme Page ^^ */

/* vv Moon Page vv */
#moon-main {
    border: 4px solid #34abda; /* 2px width, solid style, bright pink color */
    background-image: url("../images/background07.jpg"); /* Replace 'your-image.jpg' with the actual path to your image file */
    background-size: 100%;/* Stretch the image to cover the entire div */
    background-repeat: no-repeat;
    background-position: center;
    padding:16px;

    height:90vh;
    overflow:auto;
}

.moon-text-box {
    border: 3px solid #34abda; /* 2px width, solid style, bright pink color */
    border-radius:5px;
    background-color: rgba(245, 245, 245, 0.8); /* White with 50% transparency */
    padding:10px;
    text-align: justify;
}

.moon-text-box p {
    padding-left:10px;
    margin:0;
}
/* ^^ Moon Page ^^ */